.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#control {
  background-color: #1b1d22;
  color: white;
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#control input[type="range"] {
  min-width: 50vw;
}

.App-header {
  background-color: #282c34;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 36px;
  /* font-size: calc(12px + 2vmin); */
  color: white;
  align-items: center;
}
.App-header p {
  font-size: calc(10px);
}

input[type="text"],
input[type="text"]:focus {
  /* font-size: calc(10px + 2vmin); */
  margin: 0px;
  background: transparent;
  border: none;
  color: white;
  outline: 1px dashed;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#hide {
  position: absolute;
  opacity: 0;
  z-index: -100;
  white-space: pre;
  font-size: 36px;
  /* font-size: calc(10px + 2vmin); */
}

.matrix {
  display: grid;
  position: relative;
  /* min-width: 280px; */
  /* max-width: 768px; */
  /* width: 480px; */
  margin-left: 12px;
  margin-right: 12px;
}

.gridItem {
  padding: 10px;
}

.matrix:not(.transition):before,
.matrix:not(.transition):after {
  content: "";
  position: absolute;
  top: 0;
  border: 2px solid rgb(255, 255, 255);
  width: 12px;
  height: 100%;
  animation: fadeIn 400ms linear;
  -webkit-animation: fadeIn 400ms linear;
  -moz-animation: fadeIn 400ms linear;
  -o-animation: fadeIn 400ms linear;
  -ms-animation: fadeIn 400ms linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.matrix:not(.transition):before {
  left: -8px;
  border-right: 0;
}

.matrix:not(.transition):after {
  right: -8px;
  border-left: 0;
}

@media (max-width: 420px) {
  .App-header,
  input[type="text"],
  input[type="text"]:focus,
  #hide {
    font-size: 16px;
  }
}
